@media only screen and (min-width: 768px) {

    /* Header */

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #menuButton {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: row;
        margin-right: 2rem;
    }
    nav a {
        border: none;
    }
    /* Directory */
    #members.grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    /* Footer */

    footer {
        display: flex;
        justify-content: space-around;
        text-align: left;
    }
    /* HOME PAGE */
    .home-grid {
        grid-template-columns: 1fr 1fr;
    }
    .hero-text {
         max-width: 450px;
         padding: 2rem;
        }
    .hero-text h2 {
        font-size: 2rem;
    }
    #spotlight-container {
         grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }

}